<form style="margin: 20px; padding: 15px; border: 1px solid #ccc; border-radius: 10px;" {{on "submit" this.submitTransaction}}>
  <div style="margin-bottom: 15px;" class="form-group">
    <label style="display: block; margin-bottom: 8px;" for="accountNumber">Account Number:</label>
    {{input style="min-width: 300px; padding: 12px; border-radius: 8px; box-sizing: border-box;" type="text" class="form-control" id="accountNumber" value=this.accountNumber}}
  </div>

  <div style="margin-bottom: 15px;" class="form-group">
    <label style="display: block; margin-bottom: 8px;" for="transactionAmount">Transaction Amount:</label>
    {{input style="min-width: 300px; padding: 12px; border-radius: 8px; box-sizing: border-box;" type="number" class="form-control" id="transactionAmount" value=this.transactionAmount}}
  </div>

  <button style="background-color: #e46855; color: #fff; padding: 12px; border: none; border-radius: 8px; cursor: pointer;" type="submit" class="btn btn-primary">Submit</button>
</form>
<div>{{message}}</div>
