<form {{action 'submitForm' on='submit'}}>
  <label>
    Account Number:
    {{input value=accountNumber}}
  </label>
  <br>
  <label>
    Transaction Amount:
    {{input value=transactionAmount}}
  </label>
  <br>
  <button type="submit">Submit</button>
</form>
<div>{{message}}</div>