{{!-- <NavBar /> --}}
<Jumbo>
  <h2>Register a transaction</h2>
  <p>
    The company "Team-Tailor". Based in Sweden. Offer a job. As applicant. I had to code this example website. 
    In order to show my code skills and learning capacity. 
  </p>
  {{!-- <LinkTo @route="contact" class="button">Traction History</LinkTo> --}}
</Jumbo>
<TransactionForm/>