{{!-- <NavBar /> --}}
<Jumbo>
  <h2>Account Test</h2>
  <p>This is a test from the company "Team Tailor". The github is available at.</p>
  <LinkTo @route="about" class="button">Register a transaction.</LinkTo>
</Jumbo>


{{!-- <div class="rentals">
  <ul class="results">
    <li><TableData /></li>
    <li><TableData /></li>
    <li><TableData /></li>
  </ul>
</div> --}}